.video-background-container {
    position: relative;
    width: 100%;
    height: 100vh;
  }
  
  .main-video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(45%);
    position: relative;
    z-index: 0;
  }

  .hero-container {
    position: absolute;
    width: 50%;
    height: 100%;
    top: 35%;
    left: 10%
  }

  .hero-container p {
    font-size: 90px;
    color: white;
  }

 .hero-button-container {
    display: flex;
    gap: 20px;
    margin-top: 15px;
 }


  
  