.spot-page-image__flex__container {
  display: flex;
  margin-top: 50px;
  width: 100%;
  min-width: 600px;
  min-height: 700px;
  max-height: 700px;
  gap: 5px;
  margin-bottom: 2rem;
}

.spot-page-image-main {
  width: 50%;
}
.spot-page-image-main img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.spot-page-image-support__grid__container {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
  width: 50%;
  max-height: 50%;
  gap: 5px;
  overflow: clip;
}

.spot-page-image-support__grid__container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
