.spot-page-reviews {
    display: flex;
    flex-direction: column;
    gap: 20px
}

.spot-page-reviews button {
    
    padding: 8px 14px;
    border-radius: var(--button-border-radius);
    border: none;
    background-color: var(--button-color);
    box-shadow: var(--standard-box-shadow);
    color: white;
    font-weight: 600;
    font-size: 10px;
    letter-spacing: 2px;
    cursor: pointer;
    align-self: start;
}
.post-review-button {

}