.manage-button {
  align-self: center;
  justify-self: center;
  width: 200px;
  height: 90px;
  align-items: center;
  justify-content: center;
  color: white;
  border: none;
  background-color: rgb(194, 191, 191);
  cursor: pointer;
  border-radius: 0.6rem;
  box-shadow: var(--standard-box-shadow);
}

.manage-title  {
  max-width: 1000px;
  margin: 0 auto;
}

.manage-title button {
  width: 20%;
  padding: 10px 10px;
  margin: 0 auto;
  border-radius: var(--button-border-radius);
  border: none;
  background-color: var(--button-color);
  box-shadow: var(--standard-box-shadow);
  color: white;
  font-weight: 300;
  font-size: 12px;
  cursor: pointer;
  align-self: center;
  margin-right: 5px;
}

.manage-container {
  max-width: 1000px;
  margin: 0 auto;
  row-gap: 100px;
  display: grid;
  grid-template-columns: 33.3% 33.3% 33.3%;
  grid-template-rows: 1fr, 1fr, 1fr;
}

.manage-item {
  max-width: 33%;
  max-height: 33%;
}

.manage-item-button__container {
  display: flex;
  width: 100px;
}
.manage-update-button {
  border: 1px solid;
}

.manage-item button{
  display: inline-block;
  width: 100%;
  margin: 0 auto;
  border-radius: var(--button-border-radius);
  border: none;
  background-color: var(--button-color);
  box-shadow: var(--standard-box-shadow);
  color: white;
  font-weight: 300;
  font-size: 12px;
  cursor: pointer;
  align-self: center;

}