.create-form__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.create-form__container h2 {
  margin: 0 auto;
  width: 500px;
  margin-top: 50px;
  margin-bottom: 50px;
}
.create-form__container form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 800px;
  margin-left: 50px;
  width: 50%;
  max-width: 1000px;
  gap: 2rem;
}

.create-form__container label {
  display: block;
}
.create-form__container input {
  width: 80%;
  padding: 10px 20px;
  margin: 0 auto;
  border-style: solid;
  border-color: #d0cfcf;
}

.create-form__container textarea {
  width: 80%;
  height: 300px;
  resize: none;
  padding: 10px;
}

.create-form__container button {
  width: 75%;

  padding: 12px 20px;
  border-radius: var(--button-border-radius);
  border: none;
  background-color: var(--button-color);
  box-shadow: var(--standard-box-shadow);
  color: white;
  font-weight: 500;
  font-size: 12px;
  letter-spacing: 2px;
  cursor: pointer;

}

.city-state__container {
  display: flex;
  gap: 5rem;
  width: 80%;
  justify-content: space-between;
}


.city-state__container input {
  width: 260px
}

.sign-up-form-submit-button:disabled {
background-color: grey;
cursor: not-allowed;
}