.create-spot-form__container {
display: flex;

}

.create-form__container form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 800px;
  margin: 0 auto;
  width: 50%;
  gap: 2rem;
}


.create-form__container label {
  display: block;
}
.create-form__container input {
  width: 60%;
}

.create-form__container textarea {
  width: 80%;
  height: 300px;
  resize: none;

}

.city-state__container {
  display: flex;
  gap: 5rem;
}