.signup-form__container {
  width: 380px;
  height: 100%;
  padding: 20px 20px;
}

.signup-form__container h1 {
  margin-bottom: 15px;
}

.signup-form__container input {
  width: 100%;
  padding: 8px 20px;
  margin: 0 auto;
  border-style: solid;
  border-color: #d0cfcf;
}

.signup-form__container button {
  background-color: var(--button-color);
  border-radius: var(--button-border-radius);
  color: white;
  border: none;
  padding: 12px 20px;
}

.signup-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 90%;
  padding-bottom: 15px;
}

.signup-form label {
  display: block;
}

.input-container {
  display: flex;
  flex-direction: column;
}
